{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestor</title>
    <link rel="shortcut icon" href="{% static 'logo-gestor.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/registro.css' %}">
</head>
<body>
    <div class="contenedor">
        <div class="bloque1">
            <img src="{% static 'images/2517653.jpg' %}" alt="Imagen ilustrativa" class="imagen-registro">
            <img src="{% static 'images/gestor-removebg.png' %}" alt="Logo" class="logo">
        </div>
        <div class="bloque2">
            <div class="iniciar-sesion">
                <p>¿Ya tienes una cuenta?</p>
                <a href="#" class="btn-registro">Inicia sesión</a>
            </div>
            <div class="titulo">
                <h2>
                    Te damos la bienvenida a Gestor <br>
                </h2>
                <h6>La app de gestión de fichas bibliográficas</h6>
                <p class="sub">Crea una cuenta para poder hacer uso de esta grandiosa herramienta.</p>
            </div>
            <div class="formulario">
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form.as_div }}
                    <div>
                        <button type="submit" class="btn btn-primary">Registrarse</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>